torch
torchvision
torchaudio
transformers
accelerate
spacy
datasketch
protobuf
sentencepiece
omegaconf
iopath
timm
opencv-python-headless
peft
decord
webdataset
wandb
matplotlib
scikit-image
visual_genome
git+https://github.com/openai/CLIP.git